* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Cousine', monospace;
  color: #828282;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-feature-settings: "tnum";
}